header {
  font-size: 40px;
  background-color: #dadada;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  font-family: "Source Sans Pro";
  border-bottom: 1px solid black;
}
